@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
body.landing-page {
    font-family: 'Carrois Gothic', sans-serif;
    background: -moz-radial-gradient(center, ellipse cover, #4DD094 0%, #286f4f 100%);
    /* ff3.6+ */

    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #4DD094), color-stop(100%, #286f4f));
    /* safari4+,chrome */

    background: -webkit-radial-gradient(center, ellipse cover, #4DD094 0%, #286f4f 100%);
    /* safari5.1+,chrome10+ */

    background: -o-radial-gradient(center, ellipse cover, #4DD094 0%, #286f4f 100%);
    /* opera 11.10+ */

    background: -ms-radial-gradient(center, ellipse cover, #4DD094 0%, #286f4f 100%);
    /* ie10+ */

    background: radial-gradient(ellipse at center, #4DD094 0%, #286f4f 100%);
    /* w3c */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4DD094', endColorstr='#286f4f', GradientType=1);
    /* ie6-9 */
}

.pattern {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/back.png") repeat;
}

.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.white {
    background: #fff;
}

.register-box-body {
    background: transparent !important;
}

.blue {
    background: #3c8dbc;
}

.qn-box {
    box-shadow: 0 0 0 !important;
}

.qn-box .box-title {
    line-height: 1.5 !important;
    font-size: 20px !important;
    color: #888;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.qn-box .radio label,
.qn-box .checkbox label {
    font-size: 17px;
    line-height: 35px;
}

.question {
    font-weight: 600;
}

.comment {
    margin-top: 10px;
}

.settings-menu-wrapper {
    background: #3a9e70;
    margin-bottom: 20px;
    overflow: hidden;
}

.settings-menu-wrapper a {
    color: #fff;
}

.settings-menu {
    list-style: none;
    margin: 3px 0;
    padding-left: 0;
    color: #fff;
}

.settings-menu li {
    float: left;
    padding: 2px 5px;
    font-size: 12px;
}

.edit-question {
    width: 15px;
    height: 15px;
    display: block;
    background: url("../img/edit.png") no-repeat center;
    background-size: 100%;
}

.remove-question {
    width: 15px;
    height: 15px;
    display: block;
    background: url("../img/delete.png") no-repeat center;
    background-size: 100%;
}

.user-header {
    padding: 10px 0;
}

.user-header h5 {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}

.register-box-body h5 {
    font-size: 16px;
    color: #255859;
    padding: 10px;
    margin-bottom: 20px;
    background: #f4f4f4;
    border: thin solid #f2f2f2;
    line-height: 25px;
}

label {
    color: #255859;
}
.graph label {
    color:#fff;
}
.missing {
    text-align: center;
    margin: 40px 0;
}

.landing-footer {
    list-style: none;
    margin-top: 40px;
    display: inline-block;
    text-align: center;
}

.landing-footer li {
    float: left;
    padding: 0 20px;
    text-align: center;
}

.landing-head {
    width: 50%;
    height: 3px;
    margin: 0 auto;
    background: rgba(57, 126, 149, 0.5);
    box-shadow: 0 1px 5px #444;
    border-top: 0;
}

.btn-new {
    background-color: #41b17e;
    border-color: #286f4f;
    color: #fff;
}

.btn-new:hover {
    background-color: #286f4f;
    color: #f2f2f2;
}
.btn-login {
    background-color: #3f4568;
    border-color:#323753;
    color: #fff;
}

.btn-login:hover {
    background-color:#5B5F75;
    color: #f2f2f2;
}

.gradient-bg {
    background: #286f4f;
}

textarea.form-control {
    background-color: transparent;
}

textarea::-webkit-input-placeholder {
    color: #255859;
    !important;
}

textarea::-moz-placeholder {
    /* FF 4-18 */

    color: #255859;
    !important;
}

textarea::-moz-placeholder {
    /* FF 19+ */

    color: #255859;
    !important;
}

textarea::-ms-input-placeholder {
    /* IE 10+ */

    color: #255859;
    !important;
}

.main-header .sidebar-toggle {
    padding: 5px 15px !important;
    color:#286f4f;
    display: none;
}
.main-header .sidebar-toggle:hover {
    color:#286f4f !important;
}
.navbar-custom-menu {
    margin-top: 10px;
}
.admin .content-wrapper,
.admin .content-wrapper small,
.content-header>.breadcrumb>li>a,
.breadcrumb>.active {
    color: #fff !important;
}

.content.white {
    margin-top: 20px;
}

.content.col-centered.white {
    margin-top: 0;
}

.admin .content-wrapper .box {
    box-shadow: 0 0 0;
    background: #f2f2f2;
}

.admin .content-wrapper .box.box-solid h4,
.admin .content-wrapper .box.box-solid h3,
.admin .content-wrapper .box.box-solid a,
.admin .content-wrapper .box.box-solid li,
.admin .content-wrapper .box.box-solid p {
    color: #255859;
}

.admin .content-wrapper .box.box-solid .settings-menu li {
    color: #fff;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.social-icons {
    list-style: none;
}

.social-icons li {
    float: left;
    margin: 0 5px;
}

.social-icons li a {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#fb {
    background: url("../img/social-icons/fb.png") no-repeat center;
    background-size: 100%;
}

#tw {
    background: url("../img/social-icons/twitter.png") no-repeat center;
    background-size: 100%;
}

#gplus {
    background: url("../img/social-icons/gplus.png") no-repeat center;
    background-size: 100%;
}

#in {
    background: url("../img/social-icons/linkedin.png") no-repeat center;
    background-size: 100%;
}

.ans-para {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 3px 0;
    border-bottom: thin solid #c6c8c3;
}

.ans-option-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 15px;
}

.ans-option-box span {
    border-right: thin solid #B9B9B8;
    padding: 0 5px;
    font-size: 13px;
}

.main-dropdown {
    margin-top: 30px;
}

.main-dropdown select {
    color: #fff !important;
    background-color: #409a95 !important;
    border: #3c8695 !important;
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

button {
    outline: 0;
}

.navbar-custom-menu a {
    color: #286f4f;
}

.navbar-custom-menu a:hover {
    color: #286f4f !important;
    background: #4DD094 !important;
}
.quiz-heading {
    text-align: center;
      margin: 0;
      padding: 10px 0;
      background: #4DD094;
      color: #fff;
      font-size: 24px;
}
.qn-div .box-body {
    min-height:80px;
}
.bar-yaxis {
    position: absolute;
    margin:0 auto;
  left: 0;
  right:0;
  height:1px;
  border:0;
  background: #999;
}
.bar-yaxis-count {
    position: absolute;
  margin: 0;
  left: 1px;
  border:0;
  font-size:12px;
}
.bar-level-wrapper {
    bottom:-5px;
}
.bar-level {
    border: 1px solid #bbb;
}
#yaxis, #yaxis1, #yaxis6, #yaxis7, #yaxis8 {
    padding:0;
    margin:0;
    position:absolute;
    font-size:13px;
    top:50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
#yaxis {
    color:#fff;
    left:-50px;
}
#yaxis1, #yaxis6, #yaxis7, #yaxis8 {
    color:#222;
    left:-45px;
}



/* One radio button per line */
label {
  display: block;
    letter-spacing: 0.6px;
}


.radio.smiley {
    width:100%;
    margin-top: 0;
    margin-bottom: 10px;
}
.radio.smiley label {
    padding-left: 0;
    line-height: 15px;
    min-height: 30px;
}
.smiley [type="radio"] + span:before {
    width:35px;
    height: 35px;
    box-shadow: 0 0 0;
    border-radius: 0;
    margin-bottom: -8px;
}
.smiley.smiley-1 [type="radio"] + span:before {
    background: url("../img/emoticons/excellent.png");
    background-size: 100% 100%;
}
.smiley.smiley-2 [type="radio"] + span:before {
    background: url("../img/emoticons/vgood.png");
    background-size: 100% 100%;
}
.smiley.smiley-3 [type="radio"] + span:before {
    background: url("../img/emoticons/good.png");
    background-size: 100% 100%;
}
.smiley.smiley-4 [type="radio"] + span:before {
    background: url("../img/emoticons/avg.png");
    background-size: 100% 100%;
}
.smiley.smiley-5 [type="radio"] + span:before {
    background: url("../img/emoticons/poor.png");
    background-size: 100% 100%;
}
.smiley.smiley-6 [type="radio"] + span:before {
    background: url("../img/emoticons/na.png");
    background-size: 100% 100%;
}
/* the checked style using the :checked pseudo class */

.smiley [type="radio"]:checked + span:before {
    box-shadow: 0 0 0;
}

/* never forget focus styling */

/*  Custom radio button styles ends */
/*
.login-box-body {
    background: #e0be42 !important;
    color: #fff !important;
}
*/
.box-home {
    margin:40px auto;
}
.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #222;
    -moz-box-shadow: 0 15px 10px #222;
    box-shadow: 0 15px 10px #222;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.effect2:after
{
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    right: 10px;
    left: auto;
}
.error {
    text-align: center;
    color: #fff;
    background: crimson;
}
.paginate {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    background: #f2f2f2;
    color: #41b17e;
}
.user-delete {
    color: #dd4b39;
    margin: -5px 3px 0 0;
    position: absolute;
    right: 13px;
    bottom: 13px;
}
.user-delete i:hover {
    color:#dd4b39;
}
.user-activate {
    color: #4DD094;
    margin: -5px 3px 0 0;
    position: absolute;
    right: 13px;
    bottom: 13px;
}
.user-activate i:hover {
    color:#4DD094;
}
#home-btn {
		display: block;
	  width: 175px;
	  height: 50px;
	  margin: 20px auto 0 auto;
	  background: url("../img/start.png") no-repeat center;
	  background-size: 100%;
	  clear: both;
	  border: 0;
	  outline:none;
}
#home-btn.home-btn-ar {
	background: url("../img/start_arabic.png") no-repeat center;
	background-size: 100%;
}
.box.box-solid.rtl {
	direction:rtl;
}
.box.box-solid.qn-box.rtl .box-title {
	font-weight:600;
	font-size:26px !important;
    color: #255859;
}


.ar-txt {
	direction:rtl;
}
.ar-txt {
	font-size:22px;
	font-weight:300 !important;
}
.ar-txt label {
	font-weight:300 !important;
}
.ar-txt span {
	font-size:16px;
}
.has-feedback.ar-txt label~.form-control-feedback {
	top:35px;
}
.ar-txt .form-control {
	font-size:20px;
}